<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Property </title>
    <meta name="description" content="<%= properties_list?.[0]?.detailsDescribe %>">
        <meta name="keyword" content="Real Estate">
        <meta property="og:image" content="<%= properties_list?.[0]?.previewPicture %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/fontello.css">
    <link href="/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css"> 
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/icheck.min_all.css">
    <link rel="stylesheet" href="/css/price-range.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">  
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <link rel="stylesheet" href="/css/lightslider.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

      
        <!-- property area -->
        <div class="properties-area recent-property" style="background-color: #FFF;">
            <div class="container"> 
                <div class="row  pr0 padding-top-40 properties-page">
                   <div class="col-md-12 clear "> 
                        <div id="list-type" class="proerty-th">

                            <% properties_list.forEach(function(items) { %>
                           
                                <div class="col-sm-6 col-md-3 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="/property/<%= items.id %>" ><img src="<%= items.previewPicture %>"></a>
                                        </div>
    
                                        <div class="item-entry overflow">
                                            <h5><a href="/property/<%= items.id %>"> <%= items.propertyType %> </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> <%= items.sqft %> sqft</span>
                                            <span class="proerty-price pull-right"> $ <%= items.price %></span>
                                            <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                            <div class="property-icon">
                                                Bedrooms: <%= items.bedrooms %>|
                                                Bathrooms: <%= items.bathrooms %>
                                            </div>
                                        </div>
    
    
                                    </div>
                                </div> 
                               
                                <% }); %>

                            

                        
                        </div>
                    </div>

                    
			   </div>                
            </div>
        </div>

        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-select.min.js"></script>
        <script src="/js/bootstrap-hover-dropdown.js"></script>
        <script src="/js/easypiechart.min.js"></script>
        <script src="/js/jquery.easypiechart.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/icheck.min.js"></script>
        <script src="/js/price-range.js"></script>
        <script type="text/javascript" src="/js/lightslider.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>